* {
    margin: 0;
    padding: 0;
}
// Fonts 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$roboto : 'Roboto', sans-serif;

// Variables de couleurs
$grey-medium: #dedede;
$grey-cloud: #C5C6D0;

// Mobile Version
body {
    background-color: #dedede;
    width: 100vw;
    height: 100vh;
    font-family: $roboto;
    // Global wrapper
    .content-wrapper {
        border-bottom: 1px solid $grey-cloud ;
        width: 96%;
        max-width: 600px;
        margin: 0 auto;
        // margin: 0 2%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // Content on the header of the linktree
        .header {
            margin-top: 50px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // Frame profil picture
            .profil-pic {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-image: url("../assets/profil-picture.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            // Center the two texts
            .wrapper-presentation {
                display: flex;
                flex-direction: column;
                align-items: center;
                .name {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}