* {
    margin: 0;
    padding: 0;
}
// Variables de couleurs
$grey-medium: #dedede;
$grey-cloud: #C5C6D0;

// Mobile Version
body {
    background-color: #dedede;
    width: 100vw;
    height: 100vh;
    // Global wrapper
    .content-wrapper {
        border-bottom: 1px solid $grey-cloud ;
        width: 96%;
        max-width: 600px;
        margin: 0 auto;
        // margin: 0 2%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // Content on the header of the linktree
        .header {
            margin-top: 50px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // Frame of the profil picture
            .profil-pic {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-image: url("../assets/profil-picture.png");
            }
            // Center the two texts
            .wrapper-presentation {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}